<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Scores | Chess Tournament</title>

		<link rel="stylesheet" href="../materialAdmin.min.css">
		<script src="../material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

            <header class="mdl-layout__header">

                <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                    <a href="/admin/teams" class="mdl-layout__tab">Teams</a>
					<a href="/admin/scores" class="mdl-layout__tab is-active">Scores</a>
					<a href="/admin/schedule" class="mdl-layout__tab">Schedule</a>
                    <a href="/admin/account" class="mdl-layout__tab">Account</a>
                    <a href="/admin/logout" class="mdl-layout__tab">Logout</a>
                </div>
            </header>

			<main class="mdl-layout__content">
				<section class="mdl-layout__tab-panel is-active" id="ScoresAdminTab">
				</section>
			</main>
        </div>
    </body>
</html>
