<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Teams | Chess Tournament</title>

        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-light_blue.min.css" />
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">

            <header class="mdl-layout__header">

                <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                    <a href="/admin/teams" class="mdl-layout__tab is-active">Teams</a>
					<a href="/admin/scores" class="mdl-layout__tab">Scores</a>
					<a href="/admin/schedule" class="mdl-layout__tab">Schedule</a>
                    <a href="/admin/account" class="mdl-layout__tab">Account</a>
                    <a href="/admin/logout" class="mdl-layout__tab">Logout</a>
                </div>
            </header>

			<main class="mdl-layout__content">
				<section class="mdl-layout__tab-panel is-active" id="TeamsAdminTab">
				</section>
			</main>
        </div>
    </body>
</html>
