<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Teams | Chess Tournament</title>

		<link rel="stylesheet" href="../materialAdmin.min.css">
		<script src="../material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

            <header class="mdl-layout__header">

                <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                    <a href="/admin/teams" class="mdl-layout__tab is-active">Teams</a>
					<a href="/admin/scores" class="mdl-layout__tab">Scores</a>
					<a href="/admin/schedule" class="mdl-layout__tab">Schedule</a>
                    <a href="/admin/account" class="mdl-layout__tab">Account</a>
                    <a href="/admin/logout" class="mdl-layout__tab">Logout</a>
                </div>
            </header>

			<main class="mdl-layout__content">
				<section class="mdl-layout__tab-panel is-active" id="TeamsAdminTab">
          <% if (message) { %>
            <h3><%= message %></h3>
          <% } %>
				</section>
			<form>
				Number of Teams(2 - 10)
				<input type="number" name="TeamNum" min="2" max="10"><br>
				Team #1: <input type="text" name="Team1"><br>
				Team #2: <input type="text" name="Team2"><br>
				<!-- Need to add javascript for more inputs when needed -->
				<button type="button">Submit</button>
			</form>
			
			</main>
        </div>
    </body>
</html>
