<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chess Tournament</title>

        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-light_blue.min.css" />
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">

            <header class="mdl-layout__header">

                <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                    <a href="/schedule" class="mdl-layout__tab">Schedule</a>
                    <a href="/scores" class="mdl-layout__tab">Scores</a>
                    <a href="/login" class="mdl-layout__tab is-active">Login</a>
                </div>

            </header>

            <main class="mdl-layout__content">
				<section class="mdl-layout__tab-panel is-active" id="LoginMainTab">
                    <div class="page-content">
						<div id="LoginMainDiv">
							<p>Enter a username and password.</p>
							<form method="post">
								<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" type="text" name="username" placeholder="Username">
								</div>
								<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" type="password" name="password" placeholder="Password">
								</div>
								<input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
							</form>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </body>
</html>
