<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chess Tournament</title>

		<link rel="stylesheet" href="./material.min.css">
		<script src="./material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="background-image: url(./chessboard.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center center;
		background-size:cover;">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

            <header class="mdl-layout__header">

                <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                    <a href="/schedule" class="mdl-layout__tab is-active">Schedule</a>
                    <a href="/scores" class="mdl-layout__tab">Scores</a>
                    <a href="/login" class="mdl-layout__tab">Login</a>
                </div>

            </header>

            <main class="mdl-layout__content">
                <section class="mdl-layout__tab-panel is-active" id="ScheduleMainTab">
                    <div class="page-content">
                        <div id="ScheduleMainDiv">
							<p></p>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </body>
</html>
