<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chess Tournament</title>

		<link rel="stylesheet" href="./material.min.css">
		<script src="./material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">

            <header class="mdl-layout__header">

                <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                    <a href="/schedule" class="mdl-layout__tab">Schedule</a>
                    <a href="/scores" class="mdl-layout__tab">Scores</a>
                    <a href="/login" class="mdl-layout__tab">Login</a>
                </div>

            </header>
			<main class="mdl-layout__content">
				<div>
					<h3>You are not authorised to view that page.</h1>
					<p>Please <a href="/login">Login</a> to continue.</p>
				</div>
			</main>
        </div>
    </body>
</html>
